node_modules/*
project 1/node_modules/*
project hello/node_modules/*
guest/node_modules/*
project hello/npm*
guest/npm*
project olivia/node_modules/*
project ssl/node_modules/*
temperature-by-zip/node_modules/*
