<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>temperature by zip code</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/pure-min.css">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>